xcuserdata
*.xcuserstate

*.xcuserstate

MeterLogger.xcodeproj/project.xcworkspace/xcuserdata/johannes.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate

MeterLogger.xcodeproj/project.xcworkspace/xcuserdata/stoffer.xcuserdatad/UserInterfaceState.xcuserstate
