<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Place</string>
	<string>Comment</string>
	<string>Serial no. (unique number for each meter)</string>
	<string>Program no. ABCCCCCC</string>
	<string>Operational hour counter</string>
	<string>Current flow temperature</string>
	<string>Current return flow temperature</string>
	<string>Current temperature difference</string>
	<string>Current flow in flow</string>
	<string>Current flow in return flow</string>
	<string>Current flow in return flow</string>
</array>
</plist>
