<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Place</string>
	<string>Comment</string>
	<string>Serial</string>
	<string>Hours</string>
	<string>Flow temp.</string>
	<string>Return flow temp.</string>
	<string>Temp. diff.</string>
	<string>Flow in flow</string>
	<string>Flow in return flow</string>
	<string>Power</string>
</array>
</plist>
