<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Place</string>
	<string>Comment</string>
	<string>Serial no. (unique number for each meter)</string>
	<string>Energy register 1: Heat energy</string>
	<string>Mass register V1</string>
	<string>Operational hour counter</string>
	<string>Current flow temperature</string>
	<string>Current return flow temperature</string>
	<string>Current temperature difference</string>
	<string>Current flow in flow</string>
	<string>Current power calculated on the basis of V1-T1-T2</string>
	<string>Program no. ABCCCCCC</string>
	<string>Config no. DDDEE</string>
	<string>Config no. FFGGMN</string>
	<string>Software edition</string>
	<string>Software check sum</string>
</array>
</plist>
